body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #000;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    background-color: #000;
}
.navbar-nav {
    margin-top: 1em;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    outline: 0;
    color: #2971C7;
    background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}
.navbar-custom .nav li.active {
    outline: 0;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
    color: #fff;
}
@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
        height: 5em;
    }
}
.intro {
    width: 100%;
    height: auto;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
}
h2 {
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2971C7;
}
p {
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 1.5;
}
@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 16px;
        line-height: 1.6;
    }
}
a {
    color: #2971C7;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #2971C7;
}
footer {
    padding: 50px 0;
}
footer p {
    margin: 0;
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
.img-describe {
    width: 90%;
}
section {
    padding-top: 7em;
    padding-bottom: 3em;
}
.social-i {
    margin-top: 41em;
    text-align: center;
}
.backround-lines {
    width: 100%;
    background-image: url(../img/backround.png);
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#concert {
    margin-top: 9em;
}
.article {
    padding: 1.5em 1.5em;
}
.btn-ticket {
    border: solid 2px #2971C7;
    margin: 1em;
}
.btn-ticket:hover {
    border: solid 2px #2971C7;
    margin: 1em;
    background-color: #2971C7;
    color: white;
}
.article {
    text-indent: 1.5em;
    text-align: justify;
}
.btn-social:hover {
    color: white;
}
.iframe-music {
    width: 100%;
    height: 20px;
    overflow: hidden;
    border: 0;
}
.iframe-video {
    border: 0;
    width: 640px;
    height: 390px;
}
.gallery img {
    padding: 1px;
    background-color: #2971C7;
}
.block-article {
    float: left;
}
